<style type="text/css">
  .special-header {
    background-image: url('<%= asset_url("public_profile/lecture-hall.jpg") %>');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>

<div class="col-sm-12">
  <div class="card">
    <div class="card-header special-header py-5">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-9 mx-auto">
        <h3 class="text-white">Bir arama yapın</h3>
        <%= form_tag profiles_path, method: :get do |f| %>
          <div class="input-group">
            <%= text_field_tag :term,
                               params[:term],
                               placeholder: 'Aramak istediğiniz isim, e-posta veya birim adı girin..',
                               required: true,
                               autocomplete: 'off',
                               class: 'form-control' %>
            <span class="input-group-append">
              <%= submit_tag t('search'), class: 'btn btn-primary' %>
            </span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
