<div class="card">
  <br><h3 class="card-title text-center">Yeni Akademik Dönem</h3>
  <div class="card-body">
    <%= render 'form', academic_term: @academic_term %>
  </div>
  <div class="card-footer">
    <%= link_to 'Geri', academic_terms_path %>
  </div>
</div>
