<footer class="app-footer">
  <span>
    <%= link_to(url_for(locale: 'tr'), class: 'btn btn-light') do %>
      <i class="flag-icon flag-icon-tr" title="tr" id="tr"></i>&nbsp;Türkçe
    <% end %>
    <%= link_to(url_for(locale: 'en'), class: 'btn btn-light') do %>
      <i class="flag-icon flag-icon-us" title="us" id="us"></i>&nbsp;English
    <% end %>
  </span>
  <div class="ml-auto">
    <span>
      <%= link_to 'https://omu.sh' do %>
        <%= image_tag 'baum-product.svg', height: '20', width: '110', alt: 'BAUM Logo', class: 'navbar-brand-full' %>
      <% end %>
    </span>
  </div>
</footer>
