<footer class="app-footer">
  <div>
    <% if locale.eql?(:tr) %>
      <%= link_to('EN', url_for(locale: 'en')) %>
    <% else %>
      <%= link_to('TR', url_for(locale: 'tr')) %>
    <% end %>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <a href="https://github.com/omu/nokul">Nokul</a>
      <span>&nbsp;© 2018 BAUM</span>
    </div>
  </div>
  <div class="ml-auto">
    <%= link_to 'https://omu.sh' do %>
      <%= image_tag 'baum-beta.svg', height: '20', width: '110', alt: 'BAUM Logo' %>
    <% end %>
  </div>
</footer>
