<title><%= t('meta.title') %></title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="<%= t('meta.author') %>">
<meta name="description" content="<%= t('meta.description') %>">
<%= csrf_meta_tags %>
