<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <%= render 'layouts/shared/sidebar/admin' %>
    </ul>
  </nav>
  <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>
