<div class="card">
  <br><h3 class="card-title text-center">Yeni Adres</h3>
  <div class="card-body">
    <%= render 'form', address: @address %>
  </div>
  <div class="card-footer">
    <%= link_to 'Geri', :back %>
  </div>
</div>
