

.loading {
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #d3d3d37a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading>.loading-content {
    color: #707070;
    text-align: center;
}

.custom-card-header {
    padding: .25rem .75rem;
}
