<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> <%= t('.card_header') %>
      </div>
      <div class="card-body">
        <div class="list-group list-group-sm">
          <%= render 'card',
                count: Building.all.count,
                path: meksis_buildings_path,
                title: '.buildings' %>
          <%= render 'card',
                count: PlaceType.roots.count,
                path: meksis_place_types_path,
                title: '.main_place_types' %>
        </div>
      </div>
    </div>
  </div>
</div>
