<div class='card'>
  <div class='card-header'>
    <%= fa_icon 'user', text: t('.disability_status') %>
    <div class='card-header-actions'>
      <%= link_to_edit(user_disability_path(@user)) %>
    </div>
  </div>

  <div class='card-body'>
    <table class='table table-responsive-sm'>
      <thead>
        <tr>
          <th><%= t('.rate') %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= number_to_percentage(@user.disability_rate, precision: 0) %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
