<div class="card">
  <div class="card-header">
    <div class="card-header-actions">
      <%= link_to_new(new_user_employee_path(@user)) %>
    </div>
  </div>

  <div class="card-body">
    <table class="table table-responsive-sm">
      <tbody>
        <% @employees.each do |employee| %>
          <tr>
            <td><%= employee.title.name %></td>
            <td><%= link_to_show(user_employee_path(@user, employee.id)) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
