<div class="card">
  <div class="card-title">
    <br><h3 class="text-center">Akademik Takvim Düzenleme</h3>
  </div>
  <div class="card-body">
    <%= render 'form', academic_calendar: @academic_calendar %>
  </div>
  <div class="card-footer">
    <%= link_to 'Geri', :back %>
  </div>
</div>
