<div class="card">
  <br><h3 class="card-title text-center">Yeni Akademik Takvim</h3>
  <div class="card-body">
    <%= render 'form', academic_calendar: @academic_calendar %>
  </div>
  <div class="card-footer">
    <%= link_to 'Geri', academic_calendars_path %>
  </div>
</div>
