<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <%= fa_icon 'street-view' %>
        <strong>Yeni Ülke Oluştur</strong>
      </div>
      <div class="card-body">
        <%= render 'locations/countries/shared/form', country: @country %>
      </div>
    </div>
  </div>
</div>