<%= link_to path, class: 'list-group-item d-flex list-group-item-action justify-content-between align-items-center' do %>
  <%= t(title) %>
  <span class="badge badge-primary badge-pill"><%= count %></span>
<% end %>
