<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> <%= t('.card_header') %>
      </div>
      <div class="card-body">
        <div class="list-group list-group-sm">
          <%= render 'card',
                     count: SdpCode.all.count,
                     path:  detsis_sdp_codes_path,
                     title: '.sdp_codes' %>
        </div>
      </div>
    </div>
  </div>
</div>
