<div class='row'>
  <div class='col-sm-12'>
    <% unless current_user.articles.active.exists? %>
      <div class='text-center'>
        <%= link_to(fa_icon('download', text: t('.create_articles_from_yoksis')), save_articles_from_yoksis_path,
                    class: 'btn btn-sm btn-success m-4') %>
      </div>
    <% else %>
      <%= link_to(fa_icon('retweet'), save_articles_from_yoksis_path,
                  class: 'btn btn-sm btn-outline-secondary pull-right') %>
      <% current_user.articles.active.order(year: :desc).each do |article| %>
        <small>
          <li class='list-group-item bg-transparent'><%= article_citation(article) %></li>
        </small>
      <% end %>
    <% end %>
  </div>
</div>
