<div class='row'>
  <div class='col-sm-12'>
    <%= link_to (current_user.articles.active.exists? ? t('.update_articles_from_yoksis') : t('.create_articles_from_yoksis')),
                save_articles_from_yoksis_path,
                class: 'btn btn-secondary btn-sm pull-right' %>
    <h4><%= t('.articles') %></h4>
    <% current_user.articles.active.order(year: :desc).each do |article| %>
      <small><li class='list-group-item bg-transparent'><%= apa_citation(article) %></li></small>
    <% end %>
  </div>
</div>
<br />
