<div class='row'>
  <div class='col-sm-12'>
    <%= link_to (current_user.books.active.exists? ? t('.update_books_from_yoksis') : t('.create_books_from_yoksis')),
                save_books_from_yoksis_path,
                class: 'btn btn-secondary btn-sm pull-right' %>
    <h4><%= t('.books') %></h4>
    <% current_user.books.active.order(year: :desc).each do |book| %>
      <% if book.chapters? %>
        <small><li class='list-group-item bg-transparent'><%= book_chapter_citation(book) %></li></small>
      <% else %>
        <small><li class='list-group-item bg-transparent'><%= book_citation(book) %></li></small>
      <% end %>
    <% end %>
  </div>
</div>
<br />
