<div class='row'>
  <div class='col-sm-12'>
    <%= link_to (current_user.certifications.active.exists? ? t('.update_certifications_from_yoksis') : t('.create_certifications_from_yoksis')),
                save_certifications_from_yoksis_path,
                class: 'btn btn-secondary btn-sm pull-right' %>
    <h4><%= t('.certifications') %></h4>
    <% current_user.certifications.active.each do |certificate| %>
      <small>
        <li class='list-group-item bg-transparent'>
          <%= "#{certificate.name} - #{enum_t(certificate, :scope)}, #{enum_t(certificate, :type)} - \
               #{certificate.city_and_country} - (#{l(certificate.start_date, format: '%Y')})" %>
        </li>
      </small>
    <% end %>
  </div>
</div>
<br>
