<div class='row'>
  <div class='col-sm-12'>
    <%= link_to (current_user.projects.active.exists? ? t('.update_projects_from_yoksis') : t('.create_projects_from_yoksis')),
                save_projects_from_yoksis_path,
                class: 'btn btn-secondary btn-sm pull-right' %>
    <h4><%= t('.projects') %></h4>
    <% current_user.projects.active.order(start_date: :desc).each do |project| %>
      <small><li class='list-group-item bg-transparent'><%= user_projects(project) %></li></small>
    <% end %>
  </div>
</div>
<br />
