minio:
  service: S3
  access_key_id: <%= Tenant.credentials.dig(:minio, :access_key) %>
  secret_access_key: <%= Tenant.credentials.dig(:minio, :secret_key) %>
  region: us-east-1 # required for aws GEMs, can not be nil
  bucket: nokul
  endpoint: https://s3.omu.sh
  force_path_style: true # use https://domain.com/bucket, instead of bucket.domain.com

development:
  service: Disk
  root: <%= Rails.root.join('storage') %>

test:
  service: Disk
  root: <%= Rails.root.join('tmp/storage') %>
