<div class="card">
  <br><h3 class="card-title text-center">Takvim Başlığı Düzenleme</h3>
  <div class="card-body">
    <%= render 'form', calendar_title: @calendar_title %>
  </div>
  <div class="card-footer">
    <%= link_to 'Geri', calendar_titles_path %>
  </div>
</div>
