<% action_bar do %>
  <%= link_to_back 'Back', permissions_path %>
<% end %>

<div class="card">
  <h5 class="card-header"><%= @permission.name %></h5>
  <div class="card-body">
    <p><strong>Identifier:</strong> <%= @permission.identifier %></p>
    <p><strong>Description:</strong> <%= @permission.description %></p>
  </div>
</div>
