<div id="chart-for-genders"></div>

<% series = data.map do |item|
     {
       name:  item[:gender],
       color: (
         case item[:gender]
         when 'Erkek' then '#96d1c7'
         when 'Kadın' then '#fc7978'
         else              '#ffafb0'
         end
       ),
       y:     item[:number_of_students]
     }
   end %>

<script type="text/javascript">
  Highcharts.chart('chart-for-genders', {
    chart: {
      plotBackgroundColor: null,
      plotBorderWidth: null,
      plotShadow: false,
      type: 'pie'
    },
    title: { text: 'Cinsiyetlere Göre Öğrenci Sayıları' },
    tooltip: {
      pointFormat: '{series.name}: {series.y} <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
      pie: {
        allowPointSelect: true,
        cursor: 'pointer',
        dataLabels: {
          enabled: true,
          format: '<b>{point.name}</b>: {point.y}'
        },
        showInLegend: true
      }
    },
    series: [{
      name: 'Öğrenci Sayısı',
      colorByPoint: true,
      data: <%= series.to_json.html_safe %>
    }]
  });
</script>
