<div id="chart-non-graduates"></div>

<% categories = data.map { |item| item[:educational_level] }.uniq %>
<% statuses = data.map { |item| item[:status] }.uniq.sort %>
<% series = statuses.map do |status, _hash|
     {
       name:  status,
       color: (
         case status
         when 'Uzatan' then '#8E2C3E'
         when 'Normal' then '#B27D32'
         end
       ),
       data:  categories.map do |category|
         row = data.find { |item| item[:educational_level] == category && item[:status] == status } || {}
         row[:number_of_students]
       end
     }
   end %>

<script type="text/javascript">
  Highcharts.chart('chart-non-graduates', {
      chart: { type: 'column' },
      title: { text: 'Öğrenim Türlerine Göre Uzatan Öğrenci Sayıları' },
      xAxis: { categories: <%= categories.to_json.html_safe %> },
      yAxis: {
        min: 0,
        title: { text: 'Toplam Öğrenci Sayısı' },
        stackLabels: { enabled: true }
      },
      tooltip: {
        pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
        shared: true
      },
      plotOptions: { column: { stacking: 'normal' } },
      series: <%= series.to_json.html_safe %>
  });
</script>
