<li class="c-sidebar-nav-item">
  <%= link_to %i[manager stats], class: 'c-sidebar-nav-link' do %>
    <%= fa_icon('area-chart', text: t('.manager.stats'), class: 'c-sidebar-nav-icon') %>
  <% end %>
</li>
