<%#= render 'units/shared/new_unit' %>

<div class="col-sm-12">
  <div class="card">
    <div class="card-header">
      <%= fa_icon 'university' %>
      <strong>Yeni Birim Oluştur</strong>
    </div>
    <div class="card-body">
      <%= render 'units/shared/form', unit: @unit %>
    </div>
  </div>
</div>
