<p>Merhaba, <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Kayıtlı e-mail adresiniz başarıyla değiştirilmiştir. Bir yanlışlık olduğunu düşünüyorsanız hotline@baum.omu.edu.tr adresine durumu anlatan bir e-mail gönderebilirsiniz.</p>
  <p>Yeni e-mail adresiniz: <%= @resource.email %></p>
<% end %>
