<p>Merhaba, <%= @resource.email %>!</p>

<p>Siz veya başka birisi şifrenizi sıfırlama talebinde bulundu. Şifrenizi sıfırlamak istiyorsanız aşağıdaki linke tıklayabilirsiniz.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Eğer böyle bir istekte bulunmadıysanız bu e-mail'i görmezden gelebilirsiniz. Yukarıdaki linke tıklayarak yeni bir şifre belirledikçe şifreniz değişmeyecektir.</p>
