<div class='row'>
  <div class='nested-fields col-sm-12'>
    <div class='card card-default'>
      <div class='card-body bg-light'>
        <div class="row">
          <div class="col-sm-6">
            <%= f.input :sequence, collection: (1..12), include_blank: false %>
          </div>
          <div class="col-sm-6">
            <%= f.input :year, collection: (1..6), include_blank: false %>
          </div>
        </div>
      </div>
      <div class='card-footer'>
        <%= link_to_remove_association f, class: 'btn btn-danger btn-sm' %>
      </div>
    </div>
  </div>
</div>