('.list-group-item.list-group-item-accent-danger.list-group-item-danger').remove();
'<% errors = @activation.errors.full_messages %>'

if ('<%= errors %>' == '[]') {
  $('#verification_modal').html("<%= escape_javascript(render 'modal') %>");
  $('#verification_modal').modal('show')
} else {
  full_error_messages = JSON.parse('<%= errors.to_json.html_safe %>')
  $.each(full_error_messages, function(i, error) {
    $('#error_messages').append('<li class="list-group-item list-group-item-accent-danger list-group-item-danger">'+ error +'</li>')
  });
}
