<div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card">
        <div class="card-header">
          <strong><%= "#{semester.sequence}. #{t('semester')}" %></strong>
        </div>

        <div class="card-body table-responsive">
          <%= render 'available_courses',
                     klass: 'border-primary',
                     courses: semester.available_courses.includes(curriculum_course: :course)
                                                        .where(academic_term: @term)
                                                        .order('courses.name') %>
        </div>
      </div>
    </div>
</div>
